[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

matplotlib = "*"
numpy = "*"
pillow = "*"
scipy = "*"


[dev-packages]

pipenv = "*"
pytest = "*"
pylint = "*"
graphviz = "*"
piprot = "*"
monkeytype = "*"
mypy = "*"

[requires]

