[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "!=3.1.0"
numpy = "*"
pillow = "*"
scipy = "*"

[dev-packages]
pipenv = "*"
pytest = "*"
pylint = "*"
graphviz = "*"
piprot = "*"
monkeytype = "*"
mypy = "*"
python-box = "*"
flask = "*"
dataclasses = "*"
flask-cors = "*"
gevent = "*"

[requires]
